## big tech ##
bigtech/**/*.txt

## network ##
network/**/*.org
network/**/*.jpg
network/**/*.c
network/**/*.in
network/**/*.sh
network/**/*.txt
network/hw2/down_temp_a
network/hw2/down_temp_b
network/hw2/down_temp_biga

## db ##

## graphics ##

## os ##

## etc ##
.DS_Store
*.pdf
*.docx
*.pptx
*.zip


